EMAIL_USER=Endereço de Email que vai enviar email de confirmação
EMAIL_PASSWORD=Senha de App do endereço de email informado acima
MAILTRAP_USER=Credencial de usuário no Mailtrap para teste de envio de email
MAILTRAP_PASSWORD=Credencial de senha no Mailtrap para teste de envio de email
DATABASE_URI=URI do Banco de Dados postgres
JWT_SECRET=Chave para assinatura e verificação dos tokens