<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mural SMD - Ativação de Conta </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sekuya&display=swap"
        rel="stylesheet">
</head>

<body style="margin: 0; font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <table width="100%">
        <tr>
            <td align="center">
                <table style="background-color: #e0e0e0; width: 148px; padding: 8px; height: 48px; margin: 24px;">
                    <tr align="center">
                        <td> Logo </td>
                    </tr>
                </table>

                <h1 style="margin: 24px 0; max-width: 70%;"> Seu lugar no mural está esperando por você! </h1>
                <p style="margin: 10px;"> Sua conta foi criada com sucesso. </p>
                <p style="margin: 10px 0 20px; max-width: 80%"> Ative sua conta para começar a publicar informações,
                    oportunidades, eventos e avisos para a comunidade de SMD. </p>

            </td>
        </tr>
        <tr>
            <td align="center" cellpadding="0" style="background-color: #e0e0e0; height: 260px;">
                Grafismos
            </td>
        </tr>

        <tr align="center">
            <td>
            <table style="padding: 24px 48px 48px;" width="100%">
                <tr>
                    <td colspan="2" align="center" height="36px" style="background-color: #3C4043; padding: 12px; border-radius: 50px;">
                            <a style="color: #e5e5e5; text-decoration: none;" target="_blank" rel="noopener noreferrer" href=${link}> Ativar Conta </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p style="margin: 34px 0;"> 
                            Se o botão não funcionar, você pode copiar e colar a seguinte URL no seu navegador: ${link}
                        </p>
                    </td>
                </tr>
                <tr border="1">
                    <td width="30px"  style="padding: 12px 24px 0px 0;"> <img width="24px" src="https://res.cloudinary.com/pd0qsdzf/image/upload/v1791284304/megaphone.png" alt="ícone de megafone"> </td>
                    <td style="font-weight: 600;"> 
                        Publique informações
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> Compartilhe conteúdos que podem ser relevantes para outros estudantes, professores e membros da comunidade SMD. </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px;"> <img width="24px" src="https://res.cloudinary.com/pd0qsdzf/image/upload/v1791284303/graduation-cap.png" alt="ícone de chapéu universitário"> </td>
                    <td style="font-weight: 600;"> 
                        Divulgue oportunidades 
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> Compartilhe bolsas, projetos, atividades acadêmicas e outras oportunidades. </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px;"> <img width="24px" src="https://res.cloudinary.com/pd0qsdzf/image/upload/v1791284302/calendar-days.png" alt="ícone de calendário"> </td>
                    <td style="font-weight: 600;"> 
                        Divulgue eventos
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> Informe a comunidade sobre eventos, encontros e atividades do curso. </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px;"> <img width="24px" src="https://res.cloudinary.com/pd0qsdzf/image/upload/v1791284303/user-round-group.png" alt="ícone de grupo"> </td>
                    <td style="font-weight: 600;"> 
                        Contribua com a comunidade 
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> Ajude a manter as informações de SMD reunidas em um único espaço. </td>
                </tr>
                
            </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 48px 48px 0;"> 
                <table width="100%" style="border-top: 1px solid #3C4043; padding: 24px 0;">
                    <tr align="right">
                        <td style="font-size: 10px; color: #707070">
                            Esta é uma mensagem automática. Favor não responder. 
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        

    </table>
</body>

</html>